<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Nancy" version="0.13.0" targetFramework="net45" />
  <package id="Nancy.Hosting.Self" version="0.13.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="4.0.8" targetFramework="net45" />
  <package id="PusherRESTDotNet" version="1.2.0.26184" targetFramework="net45" />
</packages>